/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

.html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 1.125em;
  line-height: 1.5em;
  padding: 1em;
  background-color: #f3f3f3;
}

section {
  margin-bottom: 1em;
}

article {
  margin-bottom: 1em;
}

/* Headings */

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Classes */

.centered-text {
  text-align: center;
}

.resume-experience-entry {
  border-left: solid black;
  background-color: #e3e3e3;
}

.hor-list li {
  display: inline-block;
  outline: thin solid;
  padding: 0.1em;
}

.bullet-list {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0.25em;
}

/* IDs */

#nav {
  margin-top: 1em;
}

#nav li {
  display: inline-block;
  font-size: 1.5em;
}

#nav a {
  text-decoration: none;
  background-color: #111111;
  color: white;
  padding: 0.25em;
  border: thin solid #333333;
}

#nav a:hover {
  background-color: #333333;
}

#nav a:active {
  background-color: #777777;
}

#main-header {
  margin-bottom: 1em;
}

#main-footer {
  margin-top: 1em;
}

#projects {
  margin-top: 1em;
}

#projects article {
  border-left: solid black;
  background-color: #e3e3e3;
  padding: 0 0.25em;
}

#projects article ul {
  color: #646464;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 57em) {
  #main-header {
    display: flex;
    justify-content: space-between;
  }

  #nav {
    margin-top: 0;
  }

  #projects {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  #projects article {
    width: 45vw;
  }
}

@media screen and (min-width: 75em) {
  #resume-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 1em;
  }

  #resume-experience {
    width: 60vw;
  }

  #resume-education {
    width: 35vw;
  }

  #resume-skills {
    width: 35vw;
  }

  #projects article {
    width: 30vw;
  }
}
